
  body {
    font-family: 'Montserrat', sans-serif !important;
  }

  :root{
    --header-height:96px;
  }

  p {
    margin: 0px !important;
    padding: 0px !important;
  }

  .line {
    border: 1px solid black;
  }

  .color-green {
    color: #32A942 !important;
  }

  .color-blue {
    color: #28315F !important;
  }

  
  .color-red {
    color: red !important;
  }

  .bg-green {
    background-color: #32A942 !important;
  }

  .bg-green-transparent {
    background-color: #32a942d1 !important;
    color: white;
    ;
  }

  .button-green {
    background-color: #32A942 !important;
  }

  .nav-link.active {
    background-color: white !important;
    color: #28315F !important;
    font-weight: 400;

  }

  .nav-link2 {
    border: none !important;
    background-color: #32a94200;
    color: #28315F;
  }

  .nav-link2:hover {
    border: none !important;
  }

  .nav-link2.active {
    color: #32A942 !important;
    border: none !important;
    border-bottom: 5px solid #32A942 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    color: #28315F;
  }

  .bg-grey {
    background-color: #eef0ef;
  }

  .color-grey {
    color: #878787 !important;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vr {
    min-height: 1em;
    width: 1px;
    border-right: 1px solid #dee2e6 !important;
    margin-right: 15px;
  }

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
  }

  .card {
    transition: transform 0.2s ease;
  }

  .card-special:hover {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    transform: scale(1.01);
  }

  .card-shadow{
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
  }


  .card-body {
    padding: 0.5rem !important;
  }

  .card-bottom-special{
    bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 35px;
    justify-content: flex-end;
    margin-bottom: 30px;
    position: absolute;
  }

  .on-image{
    position: absolute;
    left: 27px;
    bottom: 50px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
  }

  .on-image-link{
    position: absolute;
    left: 27px;
    bottom: 35px;
    color: #fff;
    font-size: 12px;
    z-index: 1;
    color: white;
  }

  .on-image-link:hover{
    color: white !important;
  }

  .on-image-link:active{
    color: white !important;
  }

  .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #32A942 !important;
  }


  .bg-green-gradient {
        background-color: #32A942 !important;
        color: white !important;
    }

    .bg-dark-gradient{
      background: linear-gradient(0deg, rgba(0,0,0,0.925754060324826) 0%, rgba(255,255,255,0) 58%);
    }

 .font-size-10{
     font-size: 10px !important;
     line-height: 0.9;
 }

 .font-size-12{
  font-size: 12px !important;
  line-height: 0.9;
}

 .line-height-tiny{
  line-height: 0.9;
}

.page-link {
  color: #32A942 !important;
}


 .bg-green-soft {
    background-color: rgba(50, 169, 66, 0.13) !important;
}







    body {
        font-family: 'Montserrat', sans-serif !important;
    }

    .line {
        border: 1px solid black;
    }

    .color-green {
        color: #32A942 !important;
    }

    .color-blue {
        color: #28315F !important;
    }

    .bg-blue {
      background-color: #28315F !important;
    }


    .bg-green {
         background-color: #32A942 !important;

    }

    .bg-green-gradient {
      background: hsla(144, 84%, 32%, 1);
      background: linear-gradient(90deg, hsla(144, 84%, 32%, 1) 0%, hsla(141, 70%, 36%, 1) 50%, hsla(135, 56%, 45%, 1) 100%);
      background: -moz-linear-gradient(90deg, hsla(144, 84%, 32%, 1) 0%, hsla(141, 70%, 36%, 1) 50%, hsla(135, 56%, 45%, 1) 100%);
      background: -webkit-linear-gradient(90deg, hsla(144, 84%, 32%, 1) 0%, hsla(141, 70%, 36%, 1) 50%, hsla(135, 56%, 45%, 1) 100%);
    }

    .bg-green-transparent {
        background-color: #32a942c0 !important;
        color: white;
        ;
    }

    .button-green {
        background-color: #32A942 !important;
    }

    .nav-link.active {
        background-color: white !important;
        color: #28315F !important;
        font-weight: 400;

    }

    .nav-link2 {
        border: none !important;
        background-color: #32a94200;
        color: #28315F;
    }

    .nav-link2:hover {
        border: none !important;
    }

    .nav-link2.active {
        color: #32A942 !important;
        border: none !important;
        border-bottom: 2px solid #32A942 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
        color: #28315F;
    }

    .bg-grey {
        background-color: #eef0ef;
    }

    .color-grey {
        color: #878787;
    }



    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .back-to-top {
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: none;
    }

    .border-left-hide-mobile{
      border-left: 1px solid #dee2e6!important;
    }
    




    .photo-gallery {
      color:#313437;
      background-color:#fff;
    }
    
    .photo-gallery p {
      color:#7d8285;
    }
    
    .photo-gallery h2 {
      font-weight:bold;
      margin-bottom:40px;
      padding-top:40px;
      color:inherit;
    }
    
    @media (max-width:767px) {
      .photo-gallery h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
      }
    }
    
    .photo-gallery .intro {
      font-size:16px;
      max-width:500px;
      margin:0 auto 40px;
    }
    
    .photo-gallery .intro p {
      margin-bottom:0;
    }
    
    .photo-gallery .photos {
      padding-bottom:10px;
    }
    
    .photo-gallery .item {

    }
    
    .td-logo{
      width: 240px;
      height: 70px;
    }

    #load-screen {
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: url('../images/td.gif') no-repeat center center #fff;
      position: fixed;
      opacity:0.9;
  }
  
.greenline{
  margin-top:-2px; border-bottom: 2px solid #32A942;
}

.greyline{
  border-bottom: 1px solid #dee2e6 !important;
}

.card-body-space{
  min-height: 1.5rem;
}

.card-body-space-sm{
  min-height: 1.2rem;
}

.campaign-img{
  height: 390px;
}

.show-mobile{
  position:absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity:0;
  text-indent:-9999px;
}

.fa-heart{
  position: absolute; 
  color: rgba(255, 255, 255, 0.616); 
  font-size: 25px;                                               
  right: 10px;
   top: 10px;
}

.main-search-area-banner{
  background-size: 100%  !important;
  background-repeat: no-repeat !important;
}

.mt-md-180{
  margin-top: 180px !important;
  margin-bottom: 20px !important;
}


.sticky-top2{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

 /* mobil için*/
@media (max-width: 576px) {
  .row{

  }

  .row-p-5{
    padding: 0 10px;
  }


  .card-body-space{
    min-height: 3rem;
  }

  .campaign-img{
    padding-top: 10px;
    height: 200px;
    min-height: 200px;
  }

  .greyline{
    border-bottom: 0 !important;
  }

  .hide-mobile{
    position:absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity:0;
    text-indent:-9999px;

  }

  .show-mobile{
    visibility: visible;
    width: auto;
    height: auto;
    opacity:1;
    position: relative;
    text-indent:inherit

  }

  .fa-heart{
    position: absolute; 
    color: rgba(255, 255, 255, 0.616); 
    font-size: 30px;                                               
    right: 20px;
     top: 20px
  }
  .td-logo{
    width: 200px !important;
    height: 60px !important;
  }

  .nav-link {
    padding: 0.1rem 0.5rem !important;
    padding-top: 0.1rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.1rem !important;
    padding-left: 0.5rem !important;
  }

  .table-font-size{
    font-size: 10px;
  }
  .border-left-hide-mobile{
      border-left: 0 !important;
  }

  .main-search-area-banner{
    background: white !important;
  }

  .mt-md-180{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .on-image{
    left: 10px;
    margin-right: 10px;
    bottom: 10px !important;
    font-size: 15px !important;
    white-space: inherit;
  }

  .nav-link2{

  }
}

/* 
.main-search-wrapper{
  position:sticky;
  top:0;
  background-color: #fff;;
  z-index:9999;
} */

.main-search-content{
}



.fixed{
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:999
}

.hotel-detail-price-content.fixed{
  padding: 0 20px;
  background: white;

}




.btnn {
  width: 100px !important;
  height: 100px !important;
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.activee {
  background-color: #666;
  color: white;
}


.gamebtn {

}

/* Style the active class, and buttons on mouse-over */
.gamebtnactive {

}